<div class="container">
  <h1 class="title">Techno Ticket Hub</h1>
  <div class="ticket-listing">
    <h2>Immerse Yourself in the Pulse of Techno</h2>
  </div>

  <div class="subtitulo">
    <button class="btn">Inicio</button>
    <button class="btn">Boletería</button>
    <button class="btn">Artistas</button>
    <button class="btn">Carrito</button>
  </div>

  <div class="formulario">
    <h3>Compra de Tickets</h3>
    <form>
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre">
      </div>
      <div class="form-group">
        <label for="cantidad">Cantidad de tickets a comprar:</label>
        <input type="number" id="cantidad" name="cantidad" min="1">
      </div>
      <div class="form-group">
        <label for="mail">Correo electrónico:</label>
        <input type="email" id="mail" name="mail">
      </div>
      <div class="form-group">
        <label for="telefono">Teléfono:</label>
        <input type="tel" id="telefono" name="telefono">
      </div>
      <button type="submit" class="btn-submit">Enviar</button>
    </form>
  </div>

  <h3>Listado de Personas</h3>
  <div class="ticket-wrapper"> 
    <!-- DEJO ESTE COMENTARIO ACA PARA CUAL ES EL ERROR YA QUE ES ACA PERO NO ME LOGRO DAR CUENTA CUAL ES. 
    <div class="ticket" *ngFor="let persona of personas">
      <img src="{{ persona.image }}" alt="Persona">
      <div class="ticket-details">
        <p>{{ persona.name }}</p>
        <p>{{ persona | comprasFormato }}</p>
      </div>
    </div>-->
  </div>
</div>
